.main {
  width: 960px;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop_card {
  position: relative;
  width: 30%;
  margin:  20px 0 20px 0;
}

.img_sneakers {
  width: 100%;
}

.card_name {
position: absolute;
top: 5px;
left: 95.5px;
}

.card_color {
  position: absolute;
  top: 20px;
  left: 134px;
}

.card_price {
  position: absolute;
  top: 260px;
  left: 5px;
}

.btn_add {
  position: absolute;
  top: 260px;
  left: 200px
}

.shop_item {
display: flex;
justify-content: space-between;
margin: 20px 0 20px 0;
background-color: #f5f5f5;
/* position: relative; */
}

/* .item_name, .item_color, .item_price, .item_btn_add {
  position: absolute;               
   top: 75px;                        
   
} */

.item_img_sneakers {
  width: 150px;
}

.item_name, .item_color, .item_price, .item_btn_add {
  margin-top: 65px;
}

.item_btn_add {
  height: 30px;
}